---
title: Ivo Rodrigues
summary: Ivo Rodrigues is product designer and prototyper living and working in Berlin, Germany. Lisbon-grown.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
    <body id="home">
        <header class="home-header">
            <a href="#home" class="logo">
               <div class="logo-circle"></div>
               <div class="logo-square-bg"></div>
               <div class="logo-square"></div>
               <div class="logo-triangle"></div>
            </a>
            <nav class="home-header-nav">
               <a href="#projects">Projects</a>
               <a href="#about">About</a>
            </nav>
        </header>

        <div class="wrapper-home">
            <div class="wrapper-intro">
                <section class="intro">
                   <h1 class="intro-greeting">Hi, I'm Ivo.</h1>
                   <span class='intro-bio'>A product designer @ Mercedes-Benz working on the future of mobility.</span>
                </section>
                <div class="intro-scroll">
                   <div></div>
                </div>
            </div>
            <section id="projects">
               <h2>Projects</h2>
                <ol>
                   {% for post in site.posts limit: 10 %}
                       {% if post.categories contains 'work' %}
                          {% if post.type contains 'Featured' %}
                             <li class="tile-work-featured">
                                <a>
                                    <img class= "tile-work-thumbnail-featured" src="{{ post.thumbnail }}" alt="">
                                    <div class="tile-work-description-featured">
                                       <span class="tile-work-description-company">{{ post.company}}</span>
                                       <h2 class="tile-work-description-title">{{ post.title }}</h2>
                                       <p class="tile-work-description-summary">{{ post.summary }}</p>
                                       <button class="tile-work-cta-disabled">
                                          Not Available Online

                                          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1" fill="white">
<path d="M15.364 2.63604C18.8787 6.15076 18.8787 11.8492 15.364 15.364C11.8492 18.8787 6.15076 18.8787 2.63604 15.364C-0.87868 11.8492 -0.87868 6.15076 2.63604 2.63604C6.15076 -0.87868 11.8492 -0.87868 15.364 2.63604Z"/>
</mask>
<path d="M15.364 2.63604C18.8787 6.15076 18.8787 11.8492 15.364 15.364C11.8492 18.8787 6.15076 18.8787 2.63604 15.364C-0.87868 11.8492 -0.87868 6.15076 2.63604 2.63604C6.15076 -0.87868 11.8492 -0.87868 15.364 2.63604Z" fill="#131313"/>
<path d="M1.92893 3.34315L14.6569 16.0711L16.0711 14.6569L3.34315 1.92893L1.92893 3.34315ZM13.9497 4.05025C16.6834 6.78392 16.6834 11.2161 13.9497 13.9497L16.7782 16.7782C21.0739 12.4824 21.0739 5.51759 16.7782 1.22183L13.9497 4.05025ZM13.9497 13.9497C11.2161 16.6834 6.78392 16.6834 4.05025 13.9497L1.22183 16.7782C5.51759 21.0739 12.4824 21.0739 16.7782 16.7782L13.9497 13.9497ZM4.05025 13.9497C1.31658 11.2161 1.31658 6.78392 4.05025 4.05025L1.22183 1.22183C-3.07394 5.51759 -3.07394 12.4824 1.22183 16.7782L4.05025 13.9497ZM4.05025 4.05025C6.78392 1.31658 11.2161 1.31658 13.9497 4.05025L16.7782 1.22183C12.4824 -3.07394 5.51759 -3.07394 1.22183 1.22183L4.05025 4.05025Z" fill="white" mask="url(#path-1-inside-1)"/>
</svg>

                                       </button>
                                    </div>
                                </a>
                             </li>
                          {% else %}
                          {% endif %}
                       {% endif %}
                   {% endfor %}
                    {% for post in site.posts limit: 10 %}
                        {% if post.categories contains 'work' %}
                           {% if post.type contains 'Featured' %}
                           {% else %}
                              <li class="tile-work">
                                <a href="{{ post.url }}">
                                    <img class= "tile-work-thumbnail" src="{{ post.thumbnail }}" alt="{{ post.thumbnailDesc }}">
                                    <div class="tile-work-description">
                                       <span class="tile-work-description-company">{{ post.company}}</span>
                                       <h2 class="tile-work-description-title">{{ post.title }}</h2>
                                       <p class="tile-work-description-summary">{{ post.summary }}</p>
                                       <button class="tile-work-cta">Read More</button>
                                    </div>
                                </a>
                              </li>
                           {% endif %}
                        {% endif %}
                    {% endfor %}
                </ol>
           
                 </a>
                </li>
             </ol>
           </section>
           <section id="about">
             <h2>About</h2>
             <section class="about-main">
                <p>I’m Ivo Rodrigues, a Product Designer at Mercedes-Benz working on the future of mobility.</p>
                <p>Before joining Cruise, I worked at Dropbox on Design Systems and was an early designer at Uber on the consumer-facing Rides and Eats mobile apps.</p>
                <p>Before getting into design, I pursued creative writing (poetry, if we're being specific) and was an Account Manager at an advertising agency. Variety is the spice of life, right?</p>
                <p>I'm most passionate about mobile product, but have much experience across web and desktop too. I'm interested in solving problems related to transportation and mapping, fitness, gaming, music, and travel.</p>
                <p>When I'm not designing, I love getting my hands dirty in Swift and mentoring younger designers on craft skills.</p>
             </section>
             <section class="about-contact">
                <h3>Get In Touch</h3>
                <p>The best way to reach me is via <a href="mailto:roderick.ivo@gmail.com" target="_blank">email</a>.
                
             </section>
             <section class="about-site">
                <h3>Technical Note</h3>
                <p><a href="https://jekyllrb.com/" target="_blank">Jekyll</a> is used for templating and Stack Overflow is used for everything else, ever.</p>
             </section>
           </section>
           {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>
